<div class="row" id="user-show">

<!-- left column -->
<div id="avatar-col" class="col-md-3">
<div><img height="200" src="<%= user.escape('avatar') %>" width="200"></div>
<div id="username"><%= user.escape('fname') + " " + user.escape('lname') %></div>
<div id="location"><%= user.escape('city') + ", " + user.escape('state') %></div>
<!-- end of left column div -->
</div>

<!-- right column -->
<div class="col-md-9" id="feed-col">

<% user.runs().each( function(run) { %>
<% if ( run.get('user_id') === user.get('id')) { %>
<div class="panel panel-default" id="user-show-run">
<div class="panel-heading">
<h3 class="panel-title"><%= run.displayDate() %></h3>
</div>
<div class="panel-body">
<div class="row">
<div class="col-xs-2 container" id="show-run-avatar">
  <div class="row">
  <div class="col-xs-4 col-xs-offset-1"><img class="avatar js-avatar" data-user="5546294" height="48" src="<%= user.escape('avatar') %>" width="48"></div>
  </div>
  <div class="row">
  <div class="col-xs-4 col-xs-offset-1"><%= justTime( run.escape( 'start_time' ) ) %></div>
  </div>
</div>
<div class="col-xs-7" id="show-run-title">
<div><a id="user-run-title" href="#runs/<%= run.escape( 'id' ) %>"><%= run.escape( 'title' ) %></a>
</div>
<div><%= run.escape( 'distance' ) + " mi"%></div>
</div>
<div class="col-xs-3" id="show-gmap">
<img src="https://maps.googleapis.com/maps/api/staticmap?center=0,0&zoom=1&size=100x100&sensor=false">
</div>
</div>
</div>
</div>
<% } %>
<%  }) %>

<!-- end of right column div -->
</div>

<!-- end of div class row -->
</div>









