<header>
  <h2><%= user.escape('fname') + " " + user.escape('lname') %></h2>
  <h4><%= user.escape('city') + ", " + user.escape('state') %></h4>
</header>

  <% user.runs().each( function(run) { %>
    <div class="row container" id="user-run-feed">
      <% if ( run.get('user_id') === user.get('id')) { %>
      <div class="col-xs-2">
        <div><%= run.escape( 'start_date' ) %></div>
        <div><%= justTime( run.escape( 'start_time' ) ) %></div>
      </div>

      <div class="col-xs-7">
        <div>
          <a href="#/runs/<%= run.escape( 'id' ) %>">
            <%= run.escape( 'title' ) %>
          </a>
        </div>

        <div><%= run.escape( 'distance' ) + " mi"%></div>
      </div>

    <% } %>
    </div>
  <%  }) %>
