<header id="run-index-header">
  <div>Activity Feed</div>
</header>

<% runs.each( function(run) { %>
<div class="panel panel-default" id="index-run-panel">
<div class="panel-heading">
<h3 class="panel-title"><%= run.displayDate() %></h3>
</div>
<div class="panel-body">
<div class="row" id="index-panel-body">
  <div class="col-xs-2 container" id="x">
    <div class="row">
    <div class="col-xs-4 col-xs-offset-1"><img src="<%= runs.users().getOrFetch( run.getUserId() ).get('avatar') %>" width="48" height="48"></div>
    </div>
    <div class="row">
    <div class="col-xs-4 col-xs-offset-1"><%= justTime( run.escape( 'start_time' ) ) %></div>
    </div>
  </div>
  <div class="col-xs-7" id="x">
  <div>
  <a href="#/users/<%= run.escape( 'user_id' ) %>">
  <%= runs.users().getOrFetch( run.getUserId() ).get('fname') + " " +
  runs.users().getOrFetch( run.getUserId() ).get('lname') %>
  </a>
  </div>
  <div id="index-run-title">
  <a href="#/runs/<%= run.escape( 'id' ) %>">
  <%= run.escape( 'title' ) %>
  </a>
  </div>
  <div><%= run.escape( 'distance' ) + " mi"%></div>
  </div>

  <div class="col-xs-3" id="x">
  <div>
    <img src="https://maps.googleapis.com/maps/api/staticmap?center=0,0&zoom=1&size=100x100&sensor=false">
  </div>
  </div>

</div>
</div>
</div>
<%  }) %>