<header id="run-index-header">
  <div>Activity Feed</div>
</header>

<% runs.each( function(run) { %>
<div class="panel panel-default" id="index-run-panel">
<div class="panel-heading">
<h3 class="panel-title"><%= run.displayDate() %></h3>
</div>
<div class="panel-body">
<div class="row" id="index-panel-body">
  <div class="col-xs-2 container">
    <div class="row">
    <a href="#/users/<%= run.escape( 'user_id' ) %>">
    <div class="col-xs-4 col-xs-offset-1"><img src="<%= runs.users().getOrFetch( run.getUserId() ).get('avatar') %>" width="80" height="80"></div>
    </a>
    </div>
  </div>
  <div class="col-xs-7" id="x">
  <div>
  <a href="#/users/<%= run.escape( 'user_id' ) %>">
  <%= runs.users().getOrFetch( run.getUserId() ).get('fname') + " " +
  runs.users().getOrFetch( run.getUserId() ).get('lname') %>
  </a>
  </div>
  <div id="index-run-title">
  <a href="#/runs/<%= run.escape( 'id' ) %>">
  <%= run.escape( 'title' ) %>
  </a>
  </div>
  <div><%= run.escape( 'distance' ) + " mi"%></div>
  </div>

  <div class="col-xs-3" id="x">
  <div>
  <a href="#/runs/<%= run.escape( 'id' ) %>">
  <img id="gmap-user" src="http://maps.googleapis.com/maps/api/staticmap?center=<%= run.loc() %>&zoom=10&size=160x100&maptype=terrain&sensor=false" class="img-rounded">
  </a>
  </div>
  </div>

</div>
</div>
</div>
<%  }) %>

<% for(var i = 1; i < runs.total_pages + 1; i++) { %>
  <ul>
    <li><a href="#/runs/page/<%= i %>"><%= i %></a></li>
  </ul>
<% } %>
<!-- <button class="prev-page-button btn btn-lg btn-danger">Prev Page</button>
<button class="next-page-button btn btn-lg btn-primary">Next Page</button> -->


