<div class="row container" id="run-show-header">
<a href="#users/<%= run.getUserId() %>">
<%= run.users().getOrFetch( run.getUserId() ).get('fname') + " " +
run.users().getOrFetch( run.getUserId() ).get('lname') %></a> &#8212 <%= run.runType()%>
</div>

<hr>

<div class="panel panel-default" id="run-panel">
<div class="panel-body">

<div class="row">
  <div class="col-xs-2" id="run-avatar">
  <a href="#users/<%= run.getUserId() %>">
  <img src="<%= run.users().getOrFetch( run.getUserId() ).get('avatar') %>" class="img-responsive img-rounded">
  </a>
  </div>
  <div class="col-xs-5">
  <div>
  <h4>
  <%= run.displayDate() %>
  </h4>
  </div>
  <div>
  <%= run.escape( 'title' ) %>
  </div>
  <div id="run-show-distance">
  <%= run.escape( 'distance' ) + " mi" %>
  </div>
  </div>
</div>
<hr>

<p class="lead">
<%= run.escape( 'description' ) %>
</p>

<hr>

<iframe
width="600"
height="450"
frameborder="0"
style="border:0"
src="https://www.google.com/maps/embed/v1/place?key=<%= G_KEY %>&q=<%= run.loc() %>
  &zoom=11">
</iframe>

</div>
</div>
