<h2><%= run.escape( 'title' ) + " -- " + run.runType() %></h2>
<h4>by
  <a href="#users/<%= run.getUserId() %>">
    <%= run.users().getOrFetch( run.getUserId() ).get('fname') + " " +
    run.users().getOrFetch( run.getUserId() ).get('lname') %>
  </a>
</h4>



<div class="row container" id="run-show">


  <div><%= run.escape( 'city' ) + ', ' + run.escape( 'state' ) %></div>

  <div>
    <%= run.escape( 'start_date' ) %> at <%= justTime( run.escape( 'start_time' ) ) %>
  </div>

  <div>Distance: <%= run.escape( 'distance' ) + " mi"%></div>
  <br>
  <div><%='"' + run.escape( 'description' ) + '"'%></div>

</div>
