<!DOCTYPE html>
<html>
<head>
  <title>FinalProject</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <% if !current_user.nil? %>
    <ul>
      <li><%= current_user.email %> is logged in</li>
      <li><%= button_to("Log out", session_url, :method => :delete) %></li>
    </ul>
    <% end %>
  </header>


<%= yield %>

</body>
</html>
